@model ProjectTracker.Library.ProjectResourceEdit

@{
    ViewBag.Title = "Remove resource";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Project Resource</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.FullName</div>

    <div class="display-label">Assigned</div>
    <div class="display-field">@String.Format("{0:g}", Model.Assigned)</div>

    <div class="display-label">Role</div>
    <div class="display-field">@Model.RoleName</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { projectId = ViewData["ProjectId"], resourceId = Model.ResourceId })
    </p>
}


