<div>
  <input @bind-value="TextValue" @bind-value:event="oninput" type="@InputType"
         disabled="@(!Property.CanWrite)" /><br />
  <span class="text-danger">@Property.ErrorText</span>
  <span class="text-warning">@Property.WarningText</span>
  <span class="text-info">@Property.InformationText</span>
</div>

@code {
  [Parameter]
  public Csla.Blazor.IPropertyInfo Property { get; set; }
  [Parameter]
  public string InputType { get; set; } = "text";

  private string TextValue
  {
    get => (string)Property.Value;
    set => Property.Value = value;
  }
}
