@namespace Csla.Blazor
@inherits BusinessRulesValidationMessageBase

<div class="@WrapperClass" aria-live="polite">
  @if (_validationInitiated)
  {
    @foreach (string message in GetErrorMessages())
    {
      <div class="@ErrorClass">@message</div>
    }
    @foreach (string message in GetWarningMessages())
    {
      <div class="@WarningClass">@message</div>
    }
    @foreach (string message in GetInfoMessages())
    {
      <div class="@InfoClass">@message</div>
    }
  }
</div>

