@model ProjectTracker.Library.ProjectEdit

@{
    ViewBag.Title = "Delete project";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Project</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">Started</div>
    <div class="display-field">@String.Format("{0:d}", Model.Started)</div>

    <div class="display-label">Ended</div>
    <div class="display-field">@String.Format("{0:d}", Model.Ended)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


