@model ProjectTracker.Library.ResourceAssignmentEdit

@{
    ViewBag.Title = "Remove from project";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Resource Assignment</legend>

    <div class="display-label">Project</div>
    <div class="display-field">@Model.ProjectName</div>

    <div class="display-label">Assigned</div>
    <div class="display-field">@Model.Assigned</div>

    <div class="display-label">Role</div>
    <div class="display-field">@Model.RoleName</div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { resourceId = ViewData["ResourceId"], projectId = Model.ProjectId })
    </p>
}


